:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --header-color: #279989;
  --info-tab-color: #44a080;
  --form-background-color: #ffc845;
  --form-button-color: #279989;
  --primary-font-color: #fff;
  --secondary-font-color: #000;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--system-ui);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font: inherit;
  border: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--form-background-color);
}

input {
  border: none;
}

.main-header {
  display: flex;
  padding: 0.5rem;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-color);
  color: var(--primary-font-color);
}

.main-header .header-title {
  font-size: 1.5rem;
}

.main-header .header-nav > ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1rem;
}

.header-nav > ul li {
  margin: 0 0.25rem 0 0.25rem;
}

.info-tab {
  background-color: var(--info-tab-color);
  color: var(--primary-font-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.purchased-quantity-info {
  font-size: 1rem;
  font-weight: 500;
}

.form-section {
  padding: 1rem;
  background-color: var(--form-background-color);
  display: flex;
  flex-direction: column;
}

.form-submit-button {
  color: var(--primary-font-color);
  padding: 0.5rem;
  background-color: var(--form-button-color);
  width: 30%;
}

.product-form {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.product-form input {
  height: 2rem;
}

.product-form * {
  margin: 0.3rem;
}
